@mixin generate-theme-vars($theme) {
	//default palette foreground/background:
	$foreground-palette: map-get($theme, foreground);
	$background-palette: map-get($theme, background);
	/////////////////////////////////////////////////
	// SCSS VARS
	/////////////////////////////////////////////////
	$base: mat-color($theme, base);

	/////////////////////////////////////////////////
	// CSS VARS
	/////////////////////////////////////////////////
	--base-color: #{$base};
}

