/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

$red-palette: mat.define-palette(mat.$red-palette);
$indigo-palette: mat.define-palette(mat.$indigo-palette);

// Define a dark theme
$dark-theme: mat.define-dark-theme((
 color: (
   primary: mat.define-palette(mat.$pink-palette),
   accent: mat.define-palette(mat.$blue-grey-palette),
 ),
  // Only include `typography` and `density` in the default dark theme.
  typography: mat.define-typography-config(),
  density: 0,
));

// Define a light theme
$light-theme: mat.define-light-theme((
 color: (
   primary: $indigo-palette,
   accent: mat.define-palette(mat.$pink-palette),
 ),
));

@mixin lightMode {
  $border-color: map-get($map: $indigo-palette, $key: 500);
  --border-color: #{$border-color};
}

@mixin darkMode {
  $border-color: red;
  --border-color: #{$border-color};
}


// Apply the dark theme by default
.lightMode {
  @include mat.all-component-themes($light-theme);
  @include lightMode;
}


.darkMode {
  @include mat.all-component-themes($dark-theme);
  @include darkMode;
}



// // Apply the light theme only when the user prefers light themes.
// @media (prefers-color-scheme: dark) {
//  // Use the `-color` mixins to only apply color styles without reapplying the same
//  // typography and density styles.
//  @include mat.all-component-themes($dark-theme);
// }