.categoryInput {
	margin-bottom: 5%;
}

mat-form-field {
	width: 100%;
}

.required {
	color: red;
	font-size: 80%;
}

.itemType {
	width: 100%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.itemTypeButton {
	width: 50%;
}