<form class="container" [ngClass]="{'mobile': isMobile}" [formGroup]="addItemForm" (keyup.enter)="addItem($event)">
	<mat-button-toggle-group formControlName="itemType" class="itemType">
		<mat-button-toggle value="income" class="itemTypeButton">Income</mat-button-toggle>
		<mat-button-toggle value="expense" class="itemTypeButton">Expense</mat-button-toggle>
	</mat-button-toggle-group>
	<mat-form-field>
		<mat-label>date</mat-label>
		<input matInput type="datetime-local" formControlName="date">
	</mat-form-field><br/>
	<div class="categoryInput">
		<h3>Categories</h3>
		<div>
			<span id="categories" *ngFor="let category of categories">
				<button mat-stroked-button (click)="choseCategory($event)" >{{ category.name }}</button>
			</span>
		</div>
		<button id="selectedCategory" hidden mat-stroked-button (click)="choseCategory($event)">Disabled</button>
		<input id="selectedCategoryValue" hidden formControlName="category">
		<div class="required" *ngIf="!addItemForm.controls.category.value && isFormError">choose category</div>
	</div>
	<mat-form-field>
		<mat-label>name</mat-label>
		<input matInput placeholder="Ex. Pizza" formControlName="name">
		<div class="required" *ngIf="!addItemForm.controls.name.value && isFormError">Name required</div>
	</mat-form-field>
	<mat-form-field>
		<mat-label>price</mat-label>
		<input matInput placeholder="100" formControlName="price">
		<div class="required" *ngIf="!addItemForm.controls.price.value && isFormError">price required</div>
	</mat-form-field><br/>
	<mat-form-field>
		<mat-label>Repeat</mat-label>
		<select matNativeControl required formControlName="isRepeated">
			<option value="none" selected>None</option>
			<option value="monthly">Monthly</option>
			<option value="yearly">Yearly</option>
		</select>
	</mat-form-field>
	<br/>
	<button mat-raised-button (click)="addItem($event)" color="primary" [ngStyle]="{width: '70%'}" >add</button>
	<button mat-raised-button [routerLink]="['/itemList']" [ngStyle]="{width: '30%'}" >cancel</button>
</form>