.container {
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 20%;
	padding-right: 10%;
	padding-bottom: 5%;
	border: solid;
	border-width: 0.1em;
	border-top-style: none;
	border-color: var(--border-color);
}
.container.mobile {
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
	border: none;

}
