.container {
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 5%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
}
.container.desktop {
	margin-left: 30%;
	margin-right: 30%;
	padding-bottom: 5%;
}

mat-form-field {
	width: 100%;
}