<div class="container" [ngClass]="{'mobile': isMobile}" [formGroup]="authForm"  (keyup.enter)="auth($event)">
	<div>
		<p>This is an account book application.</p>
		<p>You can test functionnalities with guest login.</p>
	</div>
	<mat-error *ngIf="loginError" class="error">Incorrect email or password</mat-error>
	<mat-form-field>
		<mat-label>email</mat-label>
		<input matInput id="email" placeholder="email here" email formControlName="email" (ngModelChange)="checkInputsSet()">
		<mat-error *ngIf="authForm.get('email')!.hasError('email') && !authForm.get('email')!.hasError('required')">
			Please enter a valid email address
		</mat-error>
		<mat-error *ngIf="authForm.get('email')!.hasError('required')">
			Email is <strong>required</strong>
		</mat-error>
	</mat-form-field><br/>
	<mat-form-field>
		<mat-label>password</mat-label>
		<input matInput placeholder="password here" [type]="pwdHide ? 'password' : 'text'" formControlName ="password" (ngModelChange)="checkInputsSet()">
		<button mat-icon-button matSuffix (click)="pwdHide = !pwdHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="pwdHide">
			<mat-icon>{{pwdHide ? 'visibility_off' : 'visibility'}}</mat-icon>
		</button>
	</mat-form-field>
	<button mat-raised-button id="loginButton" (click)="auth($event)" disabled color="primary" [ngStyle]="{width: '100%'}" >login</button>
	<br/><br/>
	<button mat-raised-button (click)="guestAuth($event)" color="accent" [ngStyle]="{width: '100%'}" >guest login</button>
	<br/><br/>
	<button mat-raised-button color="secondary" [ngStyle]="{width: '100%'}" >sign in(in progress)</button>
	<br/><br/>
	<div>
		<p>Link to its git page <a href="https://gitlab.com/ysw1048/accountbook">link</a></p>
		<p>Developped by Seunguk YUN <a href="mailto:ysw1048@gmail.com">email contact</a></p>
	</div>
</div>
  