<mat-toolbar color="primary">
	<div class="flex-stretch" *ngIf="!isMobile">Account Book</div>
	<div class="datepicker" >
		<mat-icon class="arrow" (click)="changeDate('prev')">chevron_left</mat-icon>
		<input id="datepicker" type="month" class="datepicker" [ngClass]="{'mobile': isMobile}" [formControl]="datepickerControl" (change)="setDate()"/>
		<mat-icon class="arrow" (click)="changeDate('next')">chevron_right</mat-icon>
	</div>
	<div class="modeToggle">
		<mat-icon class="modeToggleIcon">brightness_5</mat-icon>
		<mat-slide-toggle [formControl]="toggleControl">
		</mat-slide-toggle>
		<mat-icon class="modeToggleIcon">bedtime</mat-icon>
	</div>
	<button mat-stroked-button class="logOutButton" (click)="logout()">log out</button>
</mat-toolbar>
