input.datepicker {
	border: none;
  	background: transparent;
	color: white;
	text-align: center;
	width: 15%;
	padding: 0;
}

input.datepicker.mobile {
    width: 55%;
}

input[type="month"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.datepicker {
    width: 60%;
}

.arrow {
    vertical-align: middle;
	cursor: pointer;
}

.modeToggle {
    margin-left: auto; 
    margin-right: 0;
}

.modeToggleIcon {
    vertical-align: middle;
}

.logOutButton {
    float: right;
}
