<div class="container" [ngClass]="{'mobile': isMobile}">
  <mat-grid-list cols="3" rowHeight="7:1">
    <mat-grid-tile [ngStyle]="{'color': 'LightGreen'}"> income </mat-grid-tile>
    <mat-grid-tile [ngStyle]="{'color': 'IndianRed'}"> expense </mat-grid-tile>
    <mat-grid-tile> total </mat-grid-tile>
    <mat-grid-tile [ngStyle]="{'color': 'LightGreen'}"> {{ income }} </mat-grid-tile>
    <mat-grid-tile [ngStyle]="{'color': 'IndianRed'}"> {{ expense }} </mat-grid-tile>
    <mat-grid-tile> {{ sum }}</mat-grid-tile>
  </mat-grid-list>

  <mat-card [ngClass]="{'mobile': isMobile}" *ngFor="let date of items | keyvalue: orderDay">
    <mat-card-header> {{ date.key }} </mat-card-header>
    <mat-card-subtitle *ngFor="let item of date.value" >
      <mat-card-content (click)="editItem(item)">
        <mat-grid-list [ngClass]="{'mobile': isMobile}" cols="4" rowHeight="7:1">
          <mat-grid-tile> {{ item.transaction_date | date: "hh:mm a" }} </mat-grid-tile>
          <mat-grid-tile> {{ item.category.name }} </mat-grid-tile>
          <mat-grid-tile> {{ item.name }} </mat-grid-tile>
          <mat-grid-tile *ngIf="item.price >= 0" [ngStyle]="{'color': 'LightGreen'}"> {{ item.price }} </mat-grid-tile>
          <mat-grid-tile *ngIf="item.price < 0" [ngStyle]="{'color': 'IndianRed'}"> {{ item.price }} </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card-subtitle>
  </mat-card>

  <button class="addItem" mat-raised-button [routerLink]="['/additem']" color="primary" aria-label="Add an item icon">
    add
  </button>
</div>
